gdown==4.3.0
pandas
sklearn
tensorflow
git+https://github.com/UN-GCPDS/tf-keras-vis.git
git+https://github.com/UN-GCPDS/python-gcpds.image_segmentation.git
scikit-image
matplotlib
tensorflow-datasets
tensorflow_addons
wandb 
